{% extends 'layout.html' %}
{% block content %}
<div>
    {% if article_list %}
    <ul>
        {% for article in article_list %}
        <li>작성자 : {{ article.author }}</li>
        <li>업로드 날짜 : {{ article.reg_date }}</li>
        <li>수정 날짜 : {{ article.update_date }}</li>
        <li><a href="{% url 'article:detail' article.id %}"><img class="t-h-[100px]" src='{{ article.image.url }}' alt=""></a></li>
        <li>내용 : {{ article.content }}</li>
        {% endfor %}
    </ul>
    {% else %}
    게시물이 없습니다.
    {% endif %}
</div>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if article_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in article_list.paginator.page_range %}
    {% if page_number >= article_list.number|add:-5 and page_number <= article_list.number|add:5 %}
    {% if page_number == article_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if article_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock %}